<!DOCTYPE html>
<html>
<head>
	<title>Nomeco</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">@import url(http://lifted.wires.dk/css/seg_desktop.css);</style>
	<script type="text/javascript" src="http://lifted.wires.dk/js/lib/seg_desktop_include.js"></script>
</head>

<body>
<div class="page i:page">
	
	<div class="header"><p></p></div>
	
	<div class="content i:carousel">
		<div class="slide slide05 i:slide04">
			<div class="workers">
				<div class="stempel">
					<div>STEMPELNUMMER</div>
					<div>/(DATO1)</div>
					<div>/(DATO2)</div>
					<div>/(DATO3)</div>
					<div>/(DATO4)</div>
					<div>/(DATO5)</div>
					<div>TOTAL</div>
				</div>
				<div class="columnsw">
					<!--/(ROWS-100)-->
					<!--/(Grid)-->
					<div class="worker">
						<div>/(STEMPELNR)</div>
						<div>/(KOLA)</div>
						<div>/(KOLB)</div>
						<div>/(KOLC)</div>
						<div>/(KOLD)</div>
						<div>/(KOLE)</div>
						<div>/(HOVTOT)</div>
					</div>
					<!--/(Grid)-->
				</div>
			</div>
		</div>
	</div>
	
	<div class="footer">
		<div class="ticker i:ticker"><p></p></div>
		<div class="clock i:clock"><p></p></div>
	</div>
	
</div>

</body>
</html>