<!DOCTYPE html>
<html>
<head>
	<title>Nomeco</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<style type="text/css">@import url(http://lifted.wires.dk/css/seg_desktop.css);</style>
	<script type="text/javascript" src="http://lifted.wires.dk/js/lib/seg_desktop_include.js"></script>
</head>

<body>
<div class="page i:page">

	<div class="header"><p></p></div>

	<div class="content i:carousel">
		<div class="slide slide06 i:slide06">
			<div class="view">
				<div class="diagram">
					<!--/(ROWS-100)-->
					<!--/(Grid)-->
					<div class="worker">
						<p class="count">/(STEMPEL)</p>
						<div class="lines">/(ANTLIN)</div>
						<div class="errors"></div>
						<p class="error_count">/(ANTFEJL)</p>
					</div>
					<!--/(Grid)-->
				</div>
			</div>
		</div>
	</div>

	<div class="footer">
		<div class="ticker i:ticker"><p></p></div>
		<div class="clock i:clock"><p></p></div>
	</div>

</div>

</body>
</html>